/.bashrc
/.cache
/.conda
/.dotnet
/.ipython
/.local
/.nv
/.profile
/.ssh
/.vast_containerlabel
/.vscode
/.vscode-server
/.wget-hsts
/mpi4py-X.Y.Z.tar.gz
/onstart.sh
/wandb
/.config
/.netrc
/.wikipedia.bz2
./view?usp=sharing